<ol class="breadcrumb">
  <li><a href="#faculties">Elenco Facoltà</a></li>
  <li><a href="#faculty/{{ cds.Cds.Faculty.Key }}">{{ cds.Cds.Faculty.Description }}</a></li>
  <li class="active">Cds</li>
</ol>
<h3>Elenco siti collegati al cds</h3>
<div class="panel panel-default">
	<div class="panel-body">
		<form class="form-inline">
			<div class="form-group">
				<label for="email">Codice Cds</label>
				<input type="text" class="form-control" id="email" placeholder="Inserisci il codice cds" maxlength="3" ng-model="cdsKey">
			</div>
			<button type="button" class="btn btn-primary" ng-click="getCdsData()">Ottieni dati</button>
		</form>
	</div>
</div>
<p><span class="label label-info">{{ cds.Cds.Key }}</span> <a ng-show="cds.Cds.IsW4" href="#cds/{{ cds.Cds.Key }}"><span class="label label-primary">W4</span></a> {{ cds.Cds.Description }}</p>
<table class="table">
	<tbody>
		<tr ng-repeat="p in cds.ProjectList">
			<td class="col-md-8">
				 <span class="label label-danger" ng-show="!p.IsPublic">non pubblico</span> {{ p.Description }}
			</td>
			<td class="col-md-4">
				<ul class="list-inline">
					<li ng-repeat="cds in p.CdsList"><span class="label label-info">{{ cds.Key }}</span></li>
				</ul>
			</td>
		</tr>
	</tbody>
</table>