<div class="jumbotron">
  <h1> <img src="images/logoariel.png" alt="I'm Ariel"> Benvenuti</h1>
  <p class="lead">
   
    Il portale della didattica online di Unimi
  </p>
</div>

<div class="row">
	<div class="col-md-6">
		<h4>Facoltà</h4>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque maximus, leo eget interdum congue, felis orci finibus lacus, eu tristique nunc dolor vel diam. Nam sed orci volutpat, sodales orci quis, aliquam augue. Curabitur tincidunt, sapien ac fermentum maximus, est nulla vehicula diam, ac venenatis odio dolor sed nisi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur facilisis metus enim, id feugiat nisl tempor sit amet. Nam felis est, lacinia eget ultrices ac, vulputate sed felis. Pellentesque convallis iaculis ligula vitae rutrum. Cras ullamcorper semper libero, at cursus nisi auctor nec. Morbi maximus tincidunt eros a gravida.
		</p>
		<h4>Cds</h4>
		<p>
			Pellentesque interdum quis massa pharetra fermentum. Aenean pulvinar pellentesque odio, non blandit arcu tempus a. Quisque laoreet bibendum lacinia. Vestibulum lacinia mauris eget erat varius, a eleifend elit imperdiet. Vivamus ut felis eu risus dictum tempor nec vitae diam. In eget scelerisque dolor. Donec id mi iaculis, efficitur nunc at, ultrices ligula. Suspendisse vehicula mauris neque, iaculis suscipit ante eleifend vel.
		</p>
	</div>
	<div class="col-md-6">
		<h4>Studenti</h4>
		<p>
			Proin pellentesque massa vel urna semper tempus. Praesent malesuada hendrerit dignissim. In posuere ante ac hendrerit eleifend. Nulla convallis justo non turpis mattis blandit. Pellentesque dictum nulla eu metus tristique, sed pharetra justo condimentum. Proin et turpis faucibus, lacinia ligula quis, lacinia mauris. Duis mollis ligula quis neque fringilla commodo. Pellentesque scelerisque leo ac lacus pellentesque, sit amet fermentum nulla convallis. Phasellus at tortor nec enim euismod suscipit. Sed iaculis sem sit amet nibh blandit vulputate.
		</p>
		<h4>Docenti</h4>
		<p>
			Quisque mollis luctus mi, sit amet varius est tincidunt eu. Praesent at justo vehicula, pretium odio non, efficitur enim. In hendrerit ante lectus, molestie dignissim nunc malesuada varius. Fusce ut tempus nibh. Mauris eget mauris feugiat, pharetra ligula in, pulvinar ipsum. Proin vitae risus convallis, tempor lacus sed, lobortis nulla. Proin pellentesque nunc id urna malesuada porta. Donec vitae neque ex. Vivamus dignissim, orci sed posuere maximus, nisl arcu consequat ex, sed euismod est tellus tristique lectus. Vivamus eget purus sapien.
		</p>
	</div>
</div>
