<h3><td><span class="glyphicon glyphicon-user"></span> {{ teacher.Teacher.FirstName + ' ' + teacher.Teacher.LastName }}</h3>
<p>Sono elencati i siti Ariel del docente selezionato</p>
<h4>Elenco siti ariel:</h4>
<table class="table">
	<tbody>
		<tr ng-repeat="p in teacher.ProjectList">
			<td>
				<span class="glyphicon glyphicon-education"></span>  <a href="http://{{ p.Project.Url }}.ariel.ctu.unimi.it" target="_blank">{{ p.Project.Description }}</a>
				<a href="#" class="pull-right">Scheda</a>
				<ul class="list-unstyled" style="padding-left: 2em;">
					<li ng-repeat="af in p.AFList">
						<span class="label label-info">{{ af.Key }}</span> {{ af.Description }}
					</li>
				</ul>
			</td>
		</tr>
	</tbody>
</table>